@tailwind base;
@tailwind components;
@tailwind utilities;


// Font Face

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayLight.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayLightItalic.ttf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayRoman.ttf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayMediu.ttf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayMediumItalic.ttf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayBold.ttf")
    format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../src/assets/fonts/NeueHaasDisplayBoldItalic.ttf")
  format("opentype");
  font-weight: 700;
  font-style: italic;
}

*{
  font-family: "NeueHaasDisplay";
}


.container {
  @apply mx-auto px-4 md:px-6 lg:px-8 xl:px-12 max-w-7xl;
}

.items-center {
  @apply flex;
}

.justify-between {
  @apply flex items-center;
}
